<div class = "instructions">
	Please select the shp,dbf, and shx files to import. Please note that Webmapps will only work with projections of SRID 4326.
</div>
<div id = 'input'>
	<% form_tag 'process_shapefile_upload', { :multipart => true } do %>
	    <label for="shp">.shp</label> <%= file_field_tag "shp_file" %><br />
		<label for="dbf">.dbf</label> <%= file_field_tag "dbf_file" %><br />
		<label for="shx">.shx</label> <%= file_field_tag "shx_file" %><br /><br />
	    <%= submit_tag 'Upload' %>
	<% end %>
</div>