<div class = "content_box">
	<div class = "title">
		<div class = "page_title"><span class = "heading"><%= icon :title => :editing, :size => :medium %> Editing General Information</span>
		</div>
	</div>
	<div class = "content">
		<div class = "page_title"><%= render :partial => 'form' %></div>
	</span>
</div>

