<%= @map.to_html %>
<div style = "float: right; width: 60%">
	<%= @map.div(:width => '100%', :height => 650 ) %>
</div>
<div style = "float: left; width: 35%; height: 600ox; padding: 10px; background-color: white; line-height: 1.4em;">
		<div class = "header">Showing: Rhode Island Lakes</div>
		<ul>
			<% @attributes.each do |k,v| %>
				<li><strong><%= k %>:</strong> <%= v %>
			<% end %>
		<ul>
</div>
